:root {
    /* light theme */

    /* dark theme tokens */
    --foreground-secondary-dark: 40, 40, 47;
    --foreground-tertiary-dark: 55, 55, 64;
    --foreground-primary-dark: 31, 31, 37;
    --foreground-quaternary-dark: 90, 90, 105;

    --placeholder-primary-dark: 251, 251, 251;
    --placeholder-secondary-dark: 168, 168, 181;

    --accent-tertiary-dark: 169, 153, 248;
    --accent-secondary-dark: 102, 74, 242;
    --accent-green-dark: 84, 255, 144;
    --accent-red-dark: 255, 59, 59;
    --accent-primary-dark: 68, 34, 239;

    --background-accent-dark: 251, 251, 251;

    --icon-secondary-dark: 168, 168, 181;
    --icon-primary-dark: 251, 251, 251;

    --border-secondary-dark: 55, 55, 64;
}

[data-theme='light'] {
    --foreground-secondary: var(--foreground-secondary-dark);
    --foreground-tertiary: var(--foreground-tertiary-dark);
    --foreground-primary: var(--foreground-primary-dark);
    --foreground-quaternary: var(--foreground-quaternary-dark);

    --placeholder-primary: var(--placeholder-primary-dark);
    --placeholder-secondary: var(--placeholder-secondary-dark);

    --accent-tertiary: var(--accent-tertiary-dark);
    --accent-secondary: var(--accent-secondary-dark);
    --accent-green: var(--accent-green-dark);
    --accent-red: var(--accent-red-dark);
    --accent-primary: var(--accent-primary-dark);

    --background-accent: var(--background-accent-dark);

    --icon-secondary: var(--icon-secondary-dark);
    --icon-primary: var(--icon-primary-dark);

    --border-secondary: var(--border-secondary-dark);
}

[data-theme='dark'] {
    --foreground-secondary: var(--foreground-secondary-dark);
    --foreground-tertiary: var(--foreground-tertiary-dark);
    --foreground-primary: var(--foreground-primary-dark);
    --foreground-quaternary: var(--foreground-quaternary-dark);

    --placeholder-primary: var(--placeholder-primary-dark);
    --placeholder-secondary: var(--placeholder-secondary-dark);

    --accent-tertiary: var(--accent-tertiary-dark);
    --accent-secondary: var(--accent-secondary-dark);
    --accent-green: var(--accent-green-dark);
    --accent-red: var(--accent-red-dark);
    --accent-primary: var(--accent-primary-dark);

    --background-accent: var(--background-accent-dark);

    --icon-secondary: var(--icon-secondary-dark);
    --icon-primary: var(--icon-primary-dark);

    --border-secondary: var(--border-secondary-dark);
}
