:root {
    /* light theme */

    /* dark theme tokens */
    --primary-bg-dark:  31, 31, 37;
    --secondary-bg-dark: 40, 40, 47;
    --tertiary-bg-dark: 55, 55, 64; 
    --opacity-bg-dark: 66, 75, 86, 0.3;
    --button-bg-dark: 86, 95, 106;
    --navbar-bg-dark: 40, 40, 47;

    --border-dark: 65, 69, 79;
    --border-secondary-dark: 55, 55, 64;

    --placeholder-primary-dark: 251, 251, 251;
    --placeholder-secondary-dark: 168, 168, 181;  
    --placeholder-tertiary-dark: 138, 151, 170;
    --accent-brand-dark: 0, 122, 255;
    --accent-warning-dark: 251, 146, 60;
    --accent-danger-dark: 255, 59, 59;
    --accent-success-dark: 84, 255, 144;
    --accent-waiting-dark: 37, 99, 235;
}

[data-theme='light'] {
    --primary-bg: var(--primary-bg-dark);
    --secondary-bg: var(--secondary-bg-dark);
    --tertiary-bg: var(--tertiary-bg-dark);

    --placeholder-primary: var(--placeholder-primary-dark);
    --placeholder-secondary: var(--placeholder-secondary-dark);
    --placeholder-tertiary: var(--placeholder-tertiary-dark);

    --accent-brand: var(--accent-brand-dark);
    --accent-warning: var(--accent-warning-dark);
    --accent-danger: var(--accent-danger-dark);
    --accent-success: var(--accent-success-dark);
    --accent-waiting: var(--accent-waiting-dark);

    --button-bg: var(--button-bg-dark);
}

[data-theme='dark'] {
    --primary-bg: var(--primary-bg-dark);
    --secondary-bg: var(--secondary-bg-dark);
    --tertiary-bg: var(--tertiary-bg-dark);
    --navbar-bg: var(--navbar-bg-dark);

    --placeholder-primary: var(--placeholder-primary-dark);
    --placeholder-secondary: var(--placeholder-secondary-dark);
    --placeholder-tertiary: var(--placeholder-tertiary-dark);

    --accent-brand: var(--accent-brand-dark);
    --accent-warning: var(--accent-warning-dark);
    --accent-danger: var(--accent-danger-dark);
    --accent-success: var(--accent-success-dark);
    --accent-waiting: var(--accent-waiting-dark);

    --border: var(--border-dark);
    --border-secondary: var(--border-secondary-dark);

    --button-bg: var(--button-bg-dark);
}
