.title
  font-size: 16px
  color: rgb(var(--placeholder-secondary))
  margin: 0 0 12px 8px

.titleMain
  font-size: 32px
  text-align: center
  margin: 0 0 24px 0
  color: rgba(var(--placeholder-primary, #FFF))
