.inner {
  padding: 12px;
  height: 100vh;
  overflow: auto;
}

.text,
.bold {
  font-size: 14px;
}

.title {
  font-size: 15px;
  color: rgb(var(--placeholder-primary));
}

.text,
.title {
  margin-bottom: 16px;
}

.bold {
  display: inline-block;
  font-weight: 760;
}
