.tokensList
    background-color: rgba(var(--foreground-primary))
    position: relative
    z-index: 5
    margin: 0 -16px -20px -16px
    border-radius: 32px
    display: flex
    flex-direction: column
    gap: 8px
    &Top
        align-items: center
        display: flex
        justify-content: space-between
        gap: 8px
        padding: 0 16px
        margin-bottom: 8px
        div:first-child
            flex: 1
        .importBtn
            border-radius: 100%
            height: 46px
            width: 46px
            display: flex
            align-items: center
            justify-content: center