.wrapper {
  width: 95%;
  position: absolute;
  padding: 12px;
  border-radius: 28px;
  background: rgba(var(--tertiary-bg), 0.40);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 10;
  animation-duration: 0.6s;
  animation-name: open;
  overflow: auto;
  overflow-x: hidden;
  .top {
    padding-bottom: 8px;
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #384452;
    margin-bottom: 8px;
    @media (max-width: 320px) {
      gap: 20px;
    }
    .plus {
      cursor: pointer;
      width: 40px;
      height: 40px;

      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      background: rgba(86, 95, 106, 0.3);

      backdrop-filter: blur(30px);
      transition: all 0.3s ease 0s;

      &:hover {
        background: rgba(86, 95, 106, 0.5);
      }

      &:active {
        outline: 1px solid rgb(var(--placeholder-tertiary));
      }
    }
    .user {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        .userAvatar,
        .userName,
        .arrow {
          opacity: 0.8;
        }
      }
      &Avatar {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        object-fit: cover;
      }
      &Name {
        color: var(--Placeholder-Primary, #fff);
        font-size: 18px;
        font-weight: 510;
      }
    }
  }

  .wallets {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .wallet {
      padding: 16px;
      cursor: pointer;
      border: none;
      border-radius: 20px;
      background: rgba(86, 95, 106, 0.3);
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s;

      &:hover {
        background: rgba(86, 95, 106, 0.4);
      }

      &Title {
        color: var(--Placeholder-Primary, #fff);
        font-size: 16px;
        font-weight: 510;
        white-space: nowrap;
        justify-content: space-around;
      }
      &Chain {
        padding: 3px 8px;
        border-radius: 112px;
        background: rgba(106, 115, 126, 0.3);

        color: var(--Placeholder-Secondary, #94a3b8);
        font-size: 12px;
        font-weight: 590;
        text-transform: uppercase;
      }

      &__actions {
        display: flex;
        justify-content: center;
        margin-left: auto;
      }

      &__dots {
        cursor: pointer;
        background: transparent;
        border: none;
        transition: all 0.3s ease 0s;

        svg path {
          fill: rgb(var(--placeholder-secondary));
        }

        &:hover {
          svg path {
            fill: #fff;
          }
        }
      }

      &__emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }
  }
}

.checked {
  margin-right: 8px;
}

.arrow {
  cursor: pointer;
  background: transparent;
  border: none;
}

@keyframes open {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
