.card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 12px;
}

.cardItem {
    padding: 14px 16px;
    border-radius: 18px;
    background: rgb(40, 40, 47);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    transition: all 0.3s ease 0s;
    &:hover {
        background: rgba(40, 40, 47, 0.85);
    }
    &Title {
        font-size: 14px;
        color: rgb(168, 168, 181);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &Content {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
