.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 132px);
    &Inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 16px 10px 16px;
        border-radius: 32px 32px 0 0;
        min-height: 80vh;
        background: rgb(var(--foreground-primary));
        margin: auto -16px -20px -16px;
    }
}

.wrapperImage {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapperContent {
    width: 285px;
}

.subtitle {
    font-size: 16px;
    color: rgb(var(--placeholder-secondary));
    text-align: center;
}

.title {
    font-size: 26px;
    color: rgb(var(--accent-red));
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.52px;
    margin: 24px 0 16px 0;
}
