.inner
  .subtitle
    font-size: 14px
    color: rgb(var(--placeholder-secondary))
    margin-bottom: 6px
    text-align: left
  .title
    font-size: 26px
    font-weight: 700
    line-height: 110%
    letter-spacing: 0.52px
    margin-bottom: 24px
  &Actions
    position: relative
    width: 100%
    div:first-child
      padding: 16px 85px 16px 14px

    .import
      position: absolute
      top: 50%
      right: 10%
      transform: translate(50%, -50%)
      width: max-content
      font-size: 15px
      font-weight: 500
      color: rgb(var(--accent-tertiary))
      background: transparent
      @media (max-width: 430px)
        right: 13.5%
        
