.nftList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    @media (max-width: 340px) {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

.emptyList, .nftList  {
    padding: 16px;
    border-radius: 24px;
    background: rgba(46, 53, 61, 0.4);

    backdrop-filter: blur(40px);

    min-height: 160px;

    @media (max-width: 340px) {
        padding: 8px;
    }
}

.emptyList {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

