.inner
  display: flex
  flex-direction: column
  gap: 16px
  .search
    display: flex
    align-items: center
    gap: 8px
    padding: 15.5px 35px 15.5px 14px
    background-color: rgba(var(--foreground-secondary))
    border-radius: 16px
    position: relative
    &Input
      width: 100%
      background: none
      outline: none
      border: none
      font-size: 16px
      text-align: left !important
      color: #fff !important

    &Clear
      cursor: pointer
      position: absolute
      top: 18px
      right: 14px
      transition: fill 0.3s ease 0s
      background: none
      outline: none
      border: none
      > svg > path
        fill: rgb(var(--placeholder-primary))

        &:hover > svg > path
          fill: rgba(var(--placeholder-primary), 0.8)
  .empty
    display: flex
    align-items: center
    justify-content: center
    height: 40vh
    font-size: 21px
    font-weight: 510
    text-align: center
    @media (max-height: 630px)
      height: 30vh
    @media (max-height: 530px)
      height: 25vh
.list
  padding: 24px 0
  margin: 16px -16px -20px -16px
  border-radius: 32px 32px 0 0
  background: rgb(var(--foreground-primary))
  min-height: 63vh
  @media (max-height: 763px)
    min-height: 58vh
  @media (max-height: 630px)
    min-height: 50vh
  @media (max-height: 530px)
    min-height: 30vh
  &Title
    padding-left: 16px
    margin-bottom: 8px
