.container
  padding: 14px
  width: 100%
  background: rgb(var(--foreground-primary))
  border-radius: 32px
  margin: 5px 0

.flex
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  font-size: 16px

.message
  padding: 0px 16px
  margin: 0px
  font-size: 16px
  font-weight: 500
  color: #fff

.closeButton
  margin-left: auto
