.card
  padding: 15.5px 16px
  display: flex
  align-items: center
  transition: all 0.3s ease 0s
  background: transparent
  position: relative
  list-style-type: none
  cursor: pointer
  &:hover
    opacity: 0.8

  &:not(:last-child)
    &::after
      content: ""
      position: absolute
      height: 1px
      width: calc(100% - 84px)
      background: rgba(var(--border-secondary))
      right: 16px
      bottom: 0
  &:active
    background: #28282F
  &:first-child
    border-radius: 32px 32px 0 0
  &:hover
    background: #28282F
    &::before
      display: none
  &Body
    width: 100%
  &Description
    font-size: 13px
    letter-spacing: 0.78px
    color: rgb(var(--placeholder-secondary))
  &Disabled
    opacity: 0.6
  &Soon
    padding: 8px
    border-radius: 112px
    background: rgb(var(--foreground-secondary))
    font-size: 12px
    min-width: max-content
  svg
    width: 24px
    height: 24px
  &Left
    display: flex
    align-items: center
    gap: 12px
    width: 100%
    img
      border-radius: 50%
      object-fit: cover
  &Title
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 4px
    gap: 5px
    flex-wrap: wrap
    p
      font-size: 16px
      font-weight: 500
