.chooseChain {
    .title {
        color: var(--Placeholder-Primary, #fff);
        text-align: center;
        font-size: 32px;
        font-weight: 510;
        margin-bottom: 8px;
    }
    .subtitle {
        color: var(--Placeholder-Secondary, #94a3b8);
        text-align: center;
        font-size: 14px;

        font-weight: 400;
        margin-bottom: 24px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
