.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    .content {
        padding: 16px 16px 90px 16px;
        overflow-x: hidden;
        &Zero {
            padding-bottom: 20px !important;
        }
    }

    .bottom {
        overflow: hidden;
        position: fixed;
        bottom: 12px;
        width: 91.35%;
        z-index: 300;
        left: 50%;
        transform: translate(-50%, 0);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        width: 100%;

        padding: 16px 16px;
        border-radius: 32px;
        border: 0.5px solid rgb(var(--border-secondary));
        background: rgba(40, 40, 47, 0.80);
        backdrop-filter: blur(15.5px);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 300;
        max-width: 500px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 4px;
            background: transparent;
            padding: 4px;
            border-radius: 12px;
            padding: 4px;
            width: 72px;

            color: rgb(var(--placeholder-secondary));

            .item_title {
                font-size: 11px;
                font-style: normal;
                font-weight: 510;
                line-height: 13px;
            }

            svg {
                color: rgb(var(--placeholder-secondary));
                transition: all 0.3s ease 0s;
            }
            &:active {
                svg {
                    transform: scale(0.7);
                }
            }
            &--active-stroke {
                color: rgb(var(--placeholder-primary));
                svg path {
                    fill: rgb(var(--placeholder-primary));
                    stroke: rgb(var(--placeholder-primary)) !important;
                }
            }
            &--active {
                color: rgb(var(--placeholder-primary));
                svg path {
                    fill: rgb(var(--placeholder-primary));
                    stroke: rgba(0, 0, 0, 0) !important;
                }
            }
        }

        ~ .content {
            padding-bottom: 96px;
        }
    }
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    overflow-y: auto;
    &Decor {
        background: url("/blue-back.png") no-repeat center center;
        background-size: cover;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }
    &Content {
        position: relative;
        z-index: 2;
        background: rgba(var(--foreground-primary), 1);
        border-radius: 32px 32px 0 0;
        padding: 40px 16px 120px 16px;
        margin-top: auto;
    }
}
