.confirm {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 132px);
}

.info {
    padding: 24px 16px 10px 16px;
    border-radius: 32px 32px 0 0;
    min-height: 43vh;
    background: rgb(var(--foreground-primary));
    margin: auto -16px -20px -16px;
    &Top {
        margin-bottom: 40px;
    }
    &Title,
    &Subtitle {
        text-align: center;
    }
    &Subtitle {
        color: rgb(var(--placeholder-secondary));
        margin-bottom: 6px;
    }
    &Title {
        font-size: 26px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0.52px;
    }

    &Content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
        &Img {
            margin-bottom: 24px;
        }
        &Title {
            color: rgb(var(--placeholder-secondary));
            margin-bottom: 11px;
        }
        &Amount {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 11px;
            &Value {
                font-size: 32px;
                font-weight: 500;
                letter-spacing: 0.64px;
                color: rgb(var(--placeholder-primary));
            }
            &Currency {
                font-size: 26px;
                font-weight: 500;
                letter-spacing: 0.52px;
                color: rgb(var(--accent-tertiary));
            }
            &Total {
                color: rgb(var(--placeholder-secondary));
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
