.title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    leading-trim: both;
    text-edge: cap;
    margin-bottom: 8px;
}

.subtitle {
    text-align: left;
    margin-bottom: 24px;

    color: rgba(var(--placeholder-secondary), 1);
}
