.transactionsHistory
  border-radius: 24px
  background: rgba(46, 53, 61, 0.4)
  .period
    .date
      text-align: center
      color: var(--Placeholder-Secondary, #94a3b8)
      font-size: 14px
      font-weight: 400
      margin-bottom: 8px

      .list
        display: flex
        flex-direction: column
        gap: 8px
  .empty
    display: flex
    align-items: center
    justify-content: center
    height: 30vh
    font-size: 21px
    font-weight: 510
    text-align: center
