.home {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 20px;
    &Content {
        background: rgb(var(--foreground-primary));
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 32px 32px;
        margin: -74px -14px 0 -14px;
        padding: 0 16px;
    }
}

.top,
.topActions {
    display: flex;
    gap: 8px;
}

.top {
    width: 100%;
}

.topActions {
    flex-direction: row-reverse;
}

.icon_button {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(var(--foreground-primary));
    border: none;
    box-shadow: none;
    cursor: pointer;
    &:active {
        outline: 1px solid rgb(var(--foreground-primary));
        transform: scale(0.95) !important;
    }
    &:hover {
        background-color: rgba(var(--foreground-primary), 0.7);
    }
    &:disabled {
        cursor: initial;
        background-color: rgba(var(--foreground-primary), 0.7);
        opacity: 0.3;
        &:active {
            outline: none;
            transform: scale(1) !important;
        }
    }
}

.balance {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    &Label {
        font-size: 14px;
        color: rgb(var(--placeholder-secondary));
        letter-spacing: 0.28px;
    }
    &Text {
        font-size: 42px;
        font-weight: 700;
    }
}

.actions {
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 32px;
    height: 99px;
    overflow: hidden;
    background: url("/blue-back.png") no-repeat center center;
    background-size: cover;
    &Button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 8px;
        // border-radius: 32px;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:active {
            background: rgba(var(--placeholder-primary), 0.2);
        }
        &:hover {
            background: rgba(var(--placeholder-primary), 0.2);
        }
    }
    &Text {
        font-size: 14px;
    }
    &Icon {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            transform: scale(0.95) !important;
        }

        & svg,
        img {
            width: 20px;
            height: 20px;
        }
    }
}
