.button {
    padding: 14px 0;
    width: 100%;
    font-size: 17px;
    font-weight: 590;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.3s ease 0s;
}

.primary {
    background-color: var(--Telegram-button_color, #007aff);
    color: var(--Telegram-button_text_color, #fff);
}

.secondary {
    color: var(--Telegram-link_color, #007aff);
    background: rgba(0, 122, 255, 0.1);
}

button:disabled {
    opacity: 0.3;
    color: var(--placeholder-primary);
    background: var(--Telegram-button_color, #007aff);
    cursor: not-allowed;
}
